a {
    color: black;
    text-decoration: none;
  }

.header {
    background: white;
    height: 12vh;
    width: 100%;
  }

.title{
    position: relative;
    top: 15%;
    color: black;
    font-size: xx-large;
    font-weight: 600;
}

.header_element{
    position: relative;
    font-size: large;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    top: 30%;
  }
