.phase2{
    display: block;
    padding-top: 100vh;
    height: 100vh;
}

.square{
    height: 60vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 20vh;
    border-radius: 10;
}

.text{
    margin: 15vh 5vh ;
    text-align: center;
}

.background_circle{
    position: absolute;
    height: 100vh;
    display: flex;
    z-index: 0;
}