.phase3{
    display: block;
    height: 110vh;
    width: 100%;
    margin-top: 10vh;
    background-color: rgb(199, 199, 199);
}

.text31{
    height: 30vh;
    width: 100%;
    margin-top: 5vh;
    text-align: center;
}

.heading31{
    font-size: 3rem;
    font-weight: 700;
}

.heading32{
    font-size: 1.2rem;
    font-weight: 400;
}

.text32{
    margin-top: 10vh;
    height: 40vh;
    width: 100%;
}

.gallery3{
    height: 55vh;
    width: 90%;
}

.galleryimagelarge{
    margin-top: 5vh;
    height: 53vh;
    width: 45vh;
    overflow: hidden;
}


.galleryimage{
    margin: 5vh 0vh;
    height: 45vh;
    width: 36vh;
    overflow: hidden;
}

.gallerytext1{
    height: 45vh;
    width: 48vh;
    z-index: 100;
}

.button3{
    display: inline-block;
    background-color: rgb(199, 199, 199);
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 5px 10px;
}

.button3 :focus{
    border: none;
    text-decoration: none;
    outline: none;
}

.nextslide{
    position: absolute;
    top: 85%;
    left: 0;
}

.prevslide{
    position: absolute;
    top: 85%;
    right:10%;
}

.heading33{
    padding-top: 10vh;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
    min-height: 120px;
}

.heading34{
    font-size: 1.125rem;
    margin-left: 50%;
}