.phase1{
    display: block;
}

.home-image{
    position: absolute;
    width: 95%;
    height: 75vh;
    margin-left: 35px;
    background-image: url('https://images.pexels.com/photos/276374/pexels-photo-276374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.explore-button{
    position: absolute;
    top: 40%;
    left: 47%;
    padding: 5px 25px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.tagline{
    position: absolute;
    top: 90%;
    left: 40%;
    margin-top: 2vh;
    font-size: xx-large;
    letter-spacing: 1px;
}